@import './tool';

h3 {
	width: 375px;
	transform: translate(0,0);
	@extend %test;
	@extend p;
	@if $num < 1 {
		font-size: 30px;
	}
	@else{
		font-size: 60px;
	}
	&.h3 {
		color: var(--rd);
		font-weight: bolder;
	}
}
p {
	background: $yellow;
}